{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid">

    {% include 'base/title_header.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="card">

          <!--Header-->
          <div class="header">

            <h2>
              <a href="{{return_url}}"><i class="material-icons">&#xE5C4;</i></a>{{title_complete}}
            </h2>
            <div class="header-btn">
              <a id="gerar_pdf_venda" href="{% url 'vendas:gerarpdforcamentovenda' object.id %}" class="btn btn-primary">GERAR PDF</a>
              {% if object.status == '0' %}
              <a id="gerar_pedido_venda" href="{% url 'vendas:gerarpedidovenda' object.id %}" class="btn btn-success">GERAR PEDIDO</a>
              <a id="cancelar_orcamento_venda" href="{% url 'vendas:cancelarorcamentovenda' object.id %}" class="btn btn-red">CANCELAR</a>
              {% else %}
              <a id="gerar_copia_orcamento_venda" href="{% url 'vendas:copiarorcamentovenda' object.id %}" class="btn btn-primary">GERAR CÓPIA DO ORÇAMENTO</a>
              {% endif %}
            </div>
            <div><small>Campos marcados com <strong style="color:red;">*</strong> são obrigatórios.</small></div>

          </div>
          <!--# Header-->

          <form id="venda_form_edit" role="form" action="" method="post">
            {% csrf_token %}
            {% include 'vendas/venda_form.html' %}
          </form>

        </div>
      </div>
    </div>

  </div>
</section>


{%endblock%}

{% block modals %}
  {% include 'vendas/modal_pagamento.html' %} 
{% endblock %}

{% block js %}
  {% include 'vendas/venda_jsblock.html' %}
  <script>
    $("#btn-modal-pagamento").click(function() {
      $("#modal-pagamento").modal('show');
    });
    $('#pagamento_form').submit(function(event) {
      event.defaultPrevented();
      var form = $(this);
      $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize(),
        success: function(data){
          if(data.status == '200'){
            var venda = data.venda;
            var pagamento = data.pagamento;
            var html = '<tr>'
                html += '<td>'+pagamento.id+'</td>';
                html += '<td>'+pagamento.forma+'</td>';
                html += '<td>'+pagamento.valor_parcela+'</td>';
                html += '<td>'+pagamento.vencimento+'</td>';
                html += '<td>'+pagamento.indice_parcela+'</td>';
              html += '</tr>';

            $('#pagamento_form')[0].reset();
            $("#modal-pagamento").modal('hide');
            if(venda > 0){
              $('#pagamento_form input[name=valor_parcela]').val(venda);
              $("#modal-pagamento").modal('show');
            }
          }
        },
        error: function (data) {
          console.log(data);
        }
      });
    });
    $(".remover_pagamento").click(function(event){
      event.defaultPrevented();
      var url = $(this).attr('href');
      $.ajax({
        type: 'GET',
        url: url,
        success: function(data){
          if(data.status == '200'){
            $(this).closest( "tr" ).remove();
          }
        },
      });
    });
  </script>
{% endblock %}