{%extends 'base/base.html'%}


{%block title%} {{object.nome_razao_social}} {%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid">

    {% include 'base/title_header.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="card">

          <!--Header-->
          <div class="header">

            <h2>
              <a href="{{return_url}}"><i class="material-icons">&#xE5C4;</i></a>{{object.nome_razao_social}}
            </h2>
            <div><small>Campos marcados com <strong style="color:red;">*</strong> são obrigatórios.</small></div>

          </div>
          <!--# Header-->

          <form role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Body-->
            <div class="body">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                {% include 'cadastro/pessoa_tab_list.html' %}

                <div class="tab-content">
                  <!-- Tab informacoes gerais -->
                  <div role="tabpanel" class="tab-pane active" id="tab_inf_gerais">

                    {% if tipo_pessoa == 'cliente' %}

                    {% include 'cadastro/cliente/cliente_tab_inf_gerais.html' %}

                    {% elif tipo_pessoa == 'passageiro' %}
                    
                    {% include 'cadastro/passageiro/passageiro_tab_inf_gerais.html' %}

                    {% elif tipo_pessoa == 'empresa' %}

                    {% include 'cadastro/empresa/empresa_tab_inf_gerais.html' %}

                    {% elif tipo_pessoa == 'fornecedor' %}

                    {% include 'cadastro/fornecedor/fornecedor_tab_inf_gerais.html' %}

                    {% elif tipo_pessoa == 'transportadora' %}

                    {% include 'cadastro/transportadora/transportadora_tab_inf_gerais.html' %}

                    {% endif %}

                  </div>

                  <!-- #Tab passageiro -->
                  {% if tipo_pessoa == 'passageiro' %}
                  <div role="tabpanel" class="tab-pane formset-tab" id="tab_inf_passageiro">
                      
                    <div class="col-sm-6">
                          <div class="form-group">
                                <div class="form-line">
                                    <label>{{form.escola_passageiro.label}}</label>
                                    {% if form.escola_passageiro.errors %}<label class="error">{% for error in form.escola_passageiro.errors %}{{error}}{% endfor %}</label>{% endif %}
                                    {{form.escola_passageiro}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                                <div class="form-line">
                                    <label>{{form.matricula.label}}</label>
                                    {% if form.matricula.errors %}<label class="error">{% for error in form.matricula.errors %}{{error}}{% endfor %}</label>{% endif %}
                                    {{form.matricula}}
                                </div>
                            </div>
                        </div>

                      <div class="col-sm-6">
                          <div class="form-group">
                                <div class="form-line">
                                    <label>{{form.nome_mae.label}}</label>
                                    {% if form.nome_mae.errors %}<label class="error">{% for error in form.nome_mae.errors %}{{error}}{% endfor %}</label>{% endif %}
                                    {{form.nome_mae}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                                <div class="form-line">
                                    <label>{{form.nome_pai.label}}</label>
                                    {% if form.nome_pai.errors %}<label class="error">{% for error in form.nome_pai.errors %}{{error}}{% endfor %}</label>{% endif %}
                                    {{form.nome_pai}}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                  <div class="form-line">
                                      <label>{{form.responsavel.label}}</label>
                                      {% if form.responsavel.errors %}<label class="error">{% for error in form.responsavel.errors %}{{error}}{% endfor %}</label>{% endif %}
                                      {{form.responsavel}}
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                  <div class="form-line">
                                      <label>{{form.telefone_responsavel.label}}</label>
                                      {% if form.telefone_responsavel.errors %}<label class="error">{% for error in form.telefone_responsavel.errors %}{{error}}{% endfor %}</label>{% endif %}
                                      {{form.telefone_responsavel}}
                                  </div>
                              </div>
                          </div>

                          <div class="col-sm-6">
                              <div class="form-group">
                                    <div class="form-line">
                                        <label>{{form.natularidade.label}}</label>
                                        {% if form.natularidade.errors %}<label class="error">{% for error in form.natularidade.errors %}{{error}}{% endfor %}</label>{% endif %}
                                        {{form.natularidade}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                    <div class="form-line">
                                        <label>{{form.observacao.label}}</label>
                                        {% if form.observacao.errors %}<label class="error">{% for error in form.observacao.errors %}{{error}}{% endfor %}</label>{% endif %}
                                        {{form.observacao}}
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col-sm-6">
                                <div class="form-group">
                                      <div class="form-line">
                                          <label>{{form.numero_passaporte.label}}</label>
                                          {% if form.numero_passaporte.errors %}<label class="error">{% for error in form.numero_passaporte.errors %}{{error}}{% endfor %}</label>{% endif %}
                                          {{form.numero_passaporte}}
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                      <div class="form-line">
                                          <label>{{form.data_validade_passaporte.label}}</label>
                                          {% if form.data_validade_passaporte.errors %}<label class="error">{% for error in form.data_validade_passaporte.errors %}{{error}}{% endfor %}</label>{% endif %}
                                          {{form.data_validade_passaporte}}
                                      </div>
                                  </div>
                              </div>
                            

                  </div>
                  {% endif %}
                  
                  <!-- #Tab cliente -->
                  {% if tipo_pessoa == 'cliente' %}
                  <div role="tabpanel" class="tab-pane formset-tab" id="tab_inf_cliente">
                      
                    
                      <div class="col-sm-6">
                          <div class="form-group">
                                <div class="form-line">
                                    <label>{{form.nome_mae.label}}</label>
                                    {% if form.nome_mae.errors %}<label class="error">{% for error in form.nome_mae.errors %}{{error}}{% endfor %}</label>{% endif %}
                                    {{form.nome_mae}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                                <div class="form-line">
                                    <label>{{form.nome_pai.label}}</label>
                                    {% if form.nome_pai.errors %}<label class="error">{% for error in form.nome_pai.errors %}{{error}}{% endfor %}</label>{% endif %}
                                    {{form.nome_pai}}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                  <div class="form-line">
                                      <label>{{form.naturalidade.label}}</label>
                                      {% if form.naturalidade.errors %}<label class="error">{% for error in form.naturalidade.errors %}{{error}}{% endfor %}</label>{% endif %}
                                      {{form.naturalidade}}
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                  <div class="form-line">
                                      <label>{{form.numero_dependentes.label}}</label>
                                      {% if form.numero_dependentes.errors %}<label class="error">{% for error in form.numero_dependentes.errors %}{{error}}{% endfor %}</label>{% endif %}
                                      {{form.numero_dependentes}}
                                  </div>
                              </div>
                          </div>

                          <div class="col-sm-6">
                              <div class="form-group">
                                    <div class="form-line">
                                        <label>{{form.tipo_residencia.label}}</label>
                                        {% if form.tipo_residencia.errors %}<label class="error">{% for error in form.tipo_residencia.errors %}{{error}}{% endfor %}</label>{% endif %}
                                        {{form.tipo_residencia}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                    <div class="form-line">
                                        <label>{{form.dt_emissao_rg.label}}</label>
                                        {% if form.dt_emissao_rg.errors %}<label class="error">{% for error in form.dt_emissao_rg.errors %}{{error}}{% endfor %}</label>{% endif %}
                                        {{form.dt_emissao_rg}}
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col-sm-6">
                                <div class="form-group">
                                      <div class="form-line">
                                          <label>{{form.tempo_residencia.label}}</label>
                                          {% if form.tempo_residencia.errors %}<label class="error">{% for error in form.tempo_residencia.errors %}{{error}}{% endfor %}</label>{% endif %}
                                          {{form.tempo_residencia}}
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                      <div class="form-line">
                                          <label>{{form.dt_admissao.label}}</label>
                                          {% if form.dt_admissao.errors %}<label class="error">{% for error in form.dt_admissao.errors %}{{error}}{% endfor %}</label>{% endif %}
                                          {{form.dt_admissao}}
                                      </div>
                                  </div>
                              </div>

                              <div class="col-sm-6">
                                  <div class="form-group">
                                        <div class="form-line">
                                            <label>{{form.cargo.label}}</label>
                                            {% if form.cargo.errors %}<label class="error">{% for error in form.cargo.errors %}{{error}}{% endfor %}</label>{% endif %}
                                            {{form.cargo}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                        <div class="form-line">
                                            <label>{{form.principal_renda.label}}</label>
                                            {% if form.principal_renda.errors %}<label class="error">{% for error in form.principal_renda.errors %}{{error}}{% endfor %}</label>{% endif %}
                                            {{form.principal_renda}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                          <div class="form-line">
                                              <label>{{form.outra_renda.label}}</label>
                                              {% if form.outra_renda.errors %}<label class="error">{% for error in form.outra_renda.errors %}{{error}}{% endfor %}</label>{% endif %}
                                              {{form.outra_renda}}
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                          <div class="form-line">
                                              <label>{{form.patrimonio.label}}</label>
                                              {% if form.patrimonio.errors %}<label class="error">{% for error in form.patrimonio.errors %}{{error}}{% endfor %}</label>{% endif %}
                                              {{form.patrimonio}}
                                          </div>
                                      </div>
                                  </div>
                            

                  </div>
                  {% endif %}
                  <!-- #Tab informacoes gerais -->


                  <!-- Tab endereco -->
                  <div role="tabpanel" class="tab-pane formset-tab" id="tab_endereco">

                    {% include 'formset/formset.html' with formset=endereco_form title='Endereço' %}
                    
                  </div>
                  <!-- #Tab endereco -->

                  {% if tipo_pessoa == 'transportadora' %}
                  <div role="tabpanel" class="tab-pane formset-tab" id="tab_veiculo">
                  {% include 'formset/formset.html' with formset=veiculo_form title='Veículo' %}
                  </div>
                  {% endif %}

                  <!-- Tab contato -->
                  <div role="tabpanel" class="tab-pane formset-tab" id="tab_contato">

                    {% for formset in formsets %}
                    {% include 'formset/formset_fields.html' %}
                    {% endfor %}

                  </div>
                  <!-- #Tab contato -->

                  <!-- Tab banco -->
                  <div role="tabpanel" class="tab-pane formset-tab" id="tab_banco">

                    {% include 'formset/formset.html' with formset=banco_form title='Dados Bancários' %}

                  </div>
                  <!-- #Tab banco -->

                  <!-- Tab documentos adicionais -->
                  <div role="tabpanel" class="tab-pane formset-tab" id="tab_documento">

                    {% include 'formset/formset.html' with formset=documento_form title='Documentos Adicionais' %}

                  </div>
                  <!-- #Tab documentos adicionais -->

                  {% if tipo_pessoa == 'cliente' and object %}
                  <!-- #Tab VENDAS -->
                  <div role="tabpanel" class="tab-pane lista" id="tab_vendas">

                    {% include 'cadastro/cliente/cliente_tab_vendas.html' %}

                  </div>
                  <!-- #Tab VENDAS -->
                  {% endif %}

                  {% if tipo_pessoa == 'fornecedor' and object %}
                  <!-- #Tab COMPRAS -->
                  <div role="tabpanel" class="tab-pane lista" id="tab_compras">

                    {% include 'cadastro/fornecedor/fornecedor_tab_compras.html' %}

                  </div>
                  <!-- #Tab VENDAS -->
                  {% endif %}

                </div>

              </div>
              <button class="btn btn-success foot-btn" type="submit"><i class="material-icons">&#xE148;</i><span> SALVAR</span></button>
            </div>
            <!--#Body-->
          </form>
          
          {% include 'cadastro/obj_info.html' %}

        </div>
      </div>
    </div>

  </div>
</section>


{%endblock%}

{% block js %}
    
  {% if tipo_pessoa == 'cliente' %}

  {% include 'cadastro/cliente/cliente_blockjs.html' %} 

  {% elif tipo_pessoa == 'empresa' %}

  {% include 'cadastro/empresa/empresa_blockjs.html' %}

  {% elif tipo_pessoa == 'fornecedor' %}

  {% include 'cadastro/fornecedor/fornecedor_blockjs.html' %}

  {% elif tipo_pessoa == 'transportadora' %}

  {% include 'cadastro/transportadora/transportadora_blockjs.html' %}

  {% endif %}

  {% include 'cadastro/pessoa_blockjs.html' %}
  
{% endblock %}