{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
  
    {% include 'base/title_header.html' %}
    
    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              <a href="{{return_url}}"><i class="material-icons">&#xE5C4;</i></a>{{title_complete}}
            </h2>
              <div class="header-btn">
                <a href="{{add_url}}" class="btn btn-success"><i class="material-icons">&#xE148;</i><span> ADICIONAR</span></a>
                <button class="btn btn-red btn-remove"><i class="material-icons">&#xE872;</i></button>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>
                  <th>#ID</th>    
                  <th>Prospect</th>               
                  <th>Tipo de Contato</th>
                  <th>Observação</th>
                  {% if request.user.is_superuser %}
                  <th>Remover</th>
                  {% endif %}
                </tr>
              </thead>

              <tbody>
                {% for contatoprospect in all_contatoprospects %}
                    {% if request.user.is_superuser %}
                    <tr class="clickable-row" data-href="{% url 'vendas:editarcontatoprospectview' contatoprospect.pk %}">
                    {% else %}
                    <tr class="clickable-row" data-href=""></tr>
                    {% endif %}
                        <td>{{contatoprospect.pk}}</td>
                        <td><b>{{contatoprospect.prospect}}</b></td>
                        <td>{{contatoprospect.tipo_contato|default_if_none:""}}</td>
                        <td>{{contatoprospect.observacao|default_if_none:""}}</td>

                        {% if request.user.is_superuser %}
                        <td class="lista-remove">
                            <input type="checkbox" name="{{contatoprospect.pk}}" id="remover-entrada-{{contatoprospect.pk}}"/>
                            <label class="remove-entry-label" for="remover-entrada-{{contatoprospect.pk}}"></label>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}