{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
  
    {% include 'base/title_header.html' %}
    
    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              {{title_complete}}
            </h2>
              <div class="header-btn">
                <a href="{{add_url}}" class="btn btn-success"><i class="material-icons">&#xE148;</i><span> ADICIONAR</span></a>
                <button class="btn btn-red btn-remove"><i class="material-icons">&#xE872;</i></button>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>
                  <th>#ID</th>                   
                  <th>Passageiro</th>
                  <th>Cliente</th>
                  <th>Escola</th>
                  <th>Cliente Sistema</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  {% if request.user.is_superuser %}
                  <th>Remover</th>
                  {% endif %}
                </tr>
              </thead>

              <tbody>
                {% for prospect in all_prospects %}
                    {% if request.user.is_superuser %}
                    <tr class="clickable-row" data-href="{% url 'vendas:editarprospectview' prospect.pk %}">
                    {% else %}
                    <tr class="clickable-row" data-href=""></tr>
                    {% endif %}
                        <td>{{prospect.pk}}</td>
                        <td><b>{{prospect.passageiro}}</b></td>
                        <td>{{prospect.cliente|default_if_none:""}}</td>
                        <td>{{prospect.escola|default_if_none:""}}</td>
                        <td>{{prospect.cliente_sistema|default_if_none:""}}</td>
                        <td>{{prospect.email|default_if_none:""}}</td>
                        <td>{{prospect.telefone|default_if_none:""}}</td>

                        {% if request.user.is_superuser %}
                        <td class="lista-remove">
                            <input type="checkbox" name="{{prospect.pk}}" id="remover-entrada-{{prospect.pk}}"/>
                            <label class="remove-entry-label" for="remover-entrada-{{prospect.pk}}"></label>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}