{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
  
    {% include 'base/title_header.html' %}
    
    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          <input type=hidden id="send_email" name="send_email" value="" />
          <input type=hidden id="remove_itens" name="remove_itens" value="" />
          <input type=hidden id="excursao" name="excursao" value="" />
          {% csrf_token %}
          <div class="header">
            <h2>
              {{title_complete}}
            </h2>
              <div class="header-btn">
                <a href="{{add_url}}" class="btn btn-success"><i class="material-icons">&#xE148;</i><span> ADICIONAR</span></a>
                <button class="btn btn-red btn-remove"><i class="material-icons">&#xE872;</i></button>
                <button class="btn btn-info btn-send-email"><i class="material-icons">&#xE85A;</i> Enviar Email</button>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>
                  <th>#ID</th>                   
                  <th>Passageiro</th>
                  <th>Cliente</th>
                  <th>Escola</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Emissor</th>
                  <th>Comentários</th>
                  <th>Email</th>
                  <th>Remover</th>
                </tr>
              </thead>

              <tbody>
                {% for prospect in all_prospects %}
                    {% if request.user == prospect.emissor or request.user.is_superuser or not prospect.emissor %}
                      <tr class="clickable-row" data-href="{% url 'vendas:editarprospectview' prospect.pk %}">
                          <td>{{prospect.pk}}</td>
                          <td><b>{{prospect.passageiro}}</b></td>
                          <td>{{prospect.cliente|default_if_none:""}}</td>
                          <td>{{prospect.escola|default_if_none:""}}</td>
                          <td>{{prospect.email|default_if_none:""}}</td>
                          <td>{{prospect.telefone|default_if_none:""}}</td>

                          {% if prospect.emissor %}
                          <td><b>{{prospect.emissor.username}}</b></td>
                          {% elif not prospect.emissor and request.user.is_superuser %}
                          <td><b>Sem emissor</b></td>
                          {% else %}
                          <td>
                            <a href="{% url 'vendas:contratarprospectview' prospect.pk %}">Aceitar</a>
                          </td>
                          {% endif %}

                          <td>
                            <a href="{% url 'vendas:listacontatoprospectview' prospect.pk %}">Visualizar</a>
                          </td>

                          {% if prospect.email %}
                            <td class="lista-email">
                                <input type="checkbox" name="email-{{prospect.pk}}" id="email-entrada-{{prospect.pk}}"/>
                                <label class="email-entry-label" for="email-entrada-{{prospect.pk}}"></label>
                            </td>
                          {% else %}
                            <td></td>
                          {% endif %}
                          <td class="lista-remove">
                              <input type="checkbox" name="remove-{{prospect.pk}}" id="remover-entrada-{{prospect.pk}}"/>
                              <label class="remove-entry-label" for="remover-entrada-{{prospect.pk}}"></label>
                          </td>

                      </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}

{% block modals %}

  {% include 'vendas/modal_email.html' %} 

{% endblock %}