{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
  
    {% include 'base/title_header.html' %}
    
    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              {{title_complete}}
            </h2>
              <div class="header-btn">
                <a href="{{add_url}}" class="btn btn-success"><i class="material-icons">&#xE148;</i><span> ADICIONAR</span></a>
                <button class="btn btn-red btn-remove"><i class="material-icons">&#xE872;</i></button>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>
                  <th>#ID</th>                   
                  <th>Passageiro</th>
                  <th>Cliente</th>
                  <th>Escola</th>
                  <th>Cliente Sistema</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Remover</th>
                </tr>
              </thead>

              <tbody>
               {% if all_prospects%}
                {% for contato_prospect.prospect in all_prospects %}
                  {% if request.user.is_superuser or contato_prospect.emissor == request.user or not contato_prospect.emissor %}
                    <tr class="clickable-row" data-href="{% url 'vendas:editarprospectview' contato_prospect.prospect.pk %}">
                        <td>{{contato_prospect.prospect.pk}}</td>
                        <td><b>{{contato_prospect.prospect.passageiro}}</b></td>
                        <td>{{contato_prospect.prospect.cliente|default_if_none:""}}</td>
                        <td>{{contato_prospect.prospect.escola|default_if_none:""}}</td>
                        <td>{{contato_prospect.prospect.cliente_sistema|default_if_none:""}}</td>
                        <td>{{contato_prospect.prospect.email|default_if_none:""}}</td>
                        <td>{{contato_prospect.prospect.telefone|default_if_none:""}}</td>
                        <td class="lista-remove">
                            <input type="checkbox" name="{{contato_prospect.prospect.pk}}" id="remover-entrada-{{contato_prospect.prospect.pk}}"/>
                            <label class="remove-entry-label" for="remover-entrada-{{contato_prospect.prospect.pk}}"></label>
                        </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {%else%}
              {%endif%}
            </tbody>
          </table>
        </div>

      </div>

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}