<!-- Body-->
<div class="body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_mensagens" data-toggle="tab">NOVA MENSAGEM</a></li>
          </ul>
      
          <div class="tab-content">
      
            <!-- Tab INFORMAÇÕES -->
            <div role="tabpanel" class="tab-pane active" id="tab_mensagens">
      
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <label>{{form_contato.tipo_contato.label}}<strong style="color:red;">*</strong></label>
                    {% if form_contato.tipo_contato.errors %}
                        <label class="error">
                            {% for error in form_contato.tipo_contato.errors %}
                                {{error}}
                            {% endfor %}
                        </label>
                    {% endif %}
                    {{form_contato.tipo_contato}}
                  </div>
                </div>
              </div>
            
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <label>{{form_contato.observacao.label}}</label>
                    {% if form_contato.observacao.errors %}
                        <label class="error">
                            {% for error in form_contato.observacao.errors %}
                                {{error}}
                            {% endfor %}
                        </label>
                    {% endif %}
                    {{form_contato.observacao}}
                  </div>
                </div>
              </div>
      
            </div>
            <!--#Tab INFORMAÇÕES-->
       
          </div>
            
        </div>
        <button class="btn btn-success foot-btn" type="submit"><i class="material-icons">&#xE0B7;</i><span> ENVIAR</span></button>
</div>
<!--#Body-->