<!-- Body-->
<div class="body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_informacoes" data-toggle="tab">INFORMAÇÕES</a></li>
            {% if request.user.is_superuser %}
                <li role="presentation"><a href="#tab_contatos" data-toggle="tab">CONTATOS</a></li>
            {% endif %}
          </ul>
      
          <div class="tab-content">
      
            <!-- Tab INFORMAÇÕES -->
            <div role="tabpanel" class="tab-pane active" id="tab_informacoes">
      
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <label>{{form.passageiro.label}}<strong style="color:red;">*</strong></label>
                    {% if form.passageiro.errors %}
                        <label class="error">
                            {% for error in form.passageiro.errors %}
                                {{error}}
                            {% endfor %}
                        </label>
                    {% endif %}
                    {{form.passageiro}}
                  </div>
                </div>
              </div>
      
              <div class="col-sm-6">
                <div class="form-group">
                    <div class="form-line">
                        <label>{{form.cliente.label}}</label>
                        {% if form.cliente.errors %}
                            <label class="error">
                                {% for error in form.cliente.errors %}
                                    {{error}}
                                {% endfor %}
                            </label>
                        {% endif %}
                        {{form.cliente}}
                    </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                    <div class="form-line">
                        <label>{{form.escola.label}}</label>
                        {% if form.escola.errors %}
                            <label class="error">
                                {% for error in form.escola.errors %}
                                    {{error}}
                                {% endfor %}
                            </label>
                        {% endif %}
                        {{form.escola}}
                    </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                    <div class="form-line">
                        <label>{{form.cliente_sistema.label}}</label>
                        {% if form.cliente_sistema.errors %}
                            <label class="error">
                                {% for error in form.cliente_sistema.errors %}
                                    {{error}}
                                {% endfor %}
                            </label>
                        {% endif %}
                        {{form.cliente_sistema}}
                    </div>
                </div>
              </div>
      
              <div class="col-sm-6">
                <div class="form-group">
                    <div class="form-line">
                        <label>{{form.email.label}}</label>
                        {% if form.email.errors %}
                            <label class="error">
                                {% for error in form.email.errors %}
                                    {{error}}
                                {% endfor %}
                            </label>
                        {% endif %}
                        {{form.email}}
                    </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                    <div class="form-line">
                        <label>{{form.telefone.label}}</label>
                        {% if form.telefone.errors %}
                            <label class="error">
                                {% for error in form.telefone.errors %}
                                    {{error}}
                                {% endfor %}
                            </label>
                        {% endif %}
                        {{form.telefone}}
                    </div>
                </div>
              </div>
      
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <label>{{form.observacao.label}}</label>
                    {% if form.observacao.errors %}
                        <label class="error">
                            {% for error in form.observacao.errors %}
                                {{error}}
                            {% endfor %}
                        </label>
                    {% endif %}
                    {{form.observacao}}
                  </div>
                </div>
              </div>
      
            </div>
             <!--#Tab INFORMAÇÕES-->
      
            {% if request.user.is_superuser %}
                <!-- Tab CONTATOS -->
                <div role="tabpanel" class="tab-pane" id="tab_contatos">
                <div class="col-sm-12">

                    <div class="col-sm-12">
                    <div class="form-group">
                        <label>{{form_contato.tipo_contato.label}}</label>
                        {% if form_contato.tipo_contato.errors %}
                            <label class="error">
                                {% for error in form_contato.tipo_contato.errors %}
                                    {{error}}
                                {% endfor %}
                            </label>
                        {% endif %}
                        <div class="input-group" style="margin-bottom: 0px;">
                        <div class="form-line">
                            {{form_contato.tipo_contato}}
                        </div>
                        </div>
                    </div>
                    </div>

                    {% if request.user.is_superuser %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{form_contato.emissor.label}}</label>
                                {% if form_contato.emissor.errors %}
                                    <label class="error">
                                        {% for error in form_contato.emissor.errors %}
                                            {{error}}
                                        {% endfor %}
                                    </label>
                                {% endif %}
                                <div class="input-group" style="margin-bottom: 0px;">
                                <div class="form-line">
                                    {{form_contato.emissor}}
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
        
                    <div class="col-sm-12">
                    <div class="form-group">
                        <label>{{form_contato.observacao.label}}</label>
                        {% if form_contato.observacao.errors %}
                            <label class="error">
                                {% for error in form_contato.observacao.errors %}
                                    {{error}}
                                {% endfor %}
                            </label>
                        {% endif %}
                        <div class="input-group" style="margin-bottom: 0px;">
                        <div class="form-line">
                            {{form_contato.observacao}}
                        </div>
                        </div>
                    </div>
                    </div>

                </div>
                </div>
                <!-- #Tab CONTATOS -->    
            {% endif %}          
            
          </div>
            
        </div>
        <button class="btn btn-success foot-btn" type="submit"><i class="material-icons">&#xE148;</i><span> SALVAR</span></button>
</div>
<!--#Body-->