<div class="table-responsive">
  <table id="lista-database" class="table table-bordered table-striped lista-table">
    <thead>
      <tr>
        <th>#ID</th>                   
        <th>Nome/Razão Social</th>
        <th>CPF/CNPJ</th>
        <th>Estado</th>
        <th>Município</th>
        <th>Remover</th>
      </tr>
    </thead>

    <tbody>
      {% if all_passageiros %}
      {% for passageiro in all_passageiros %}
      <tr class="clickable-row" data-href="{% url 'cadastro:editarpassageiroview' passageiro.id %}">
        <td>{{passageiro.id}}</td>
        <td>{{passageiro.nome_razao_social}}</td>
        <td>{% ifequal passageiro.tipo_pessoa "PJ" %}{{passageiro.pessoa_jur_info.cnpj|default_if_none:""}}{% else %}{{passageiro.pessoa_fis_info.cpf|default_if_none:""}}{% endifequal %}</td>
        <td>{% if passageiro.endereco.all.0.uf %}{{passageiro.endereco.all.0.get_uf_display}}{% endif %}</td>
        <td>{{passageiro.endereco.all.0.municipio|default_if_none:""}}</td>
        <td class="lista-remove">
          <input type="checkbox" name="{{passageiro.id}}" id="remover-entrada-{{passageiro.id}}"/>
          <label class="remove-entry-label" for="remover-entrada-{{passageiro.id}}"></label>
        </td>
      </tr>
      {% endfor %}
      {%else%}
      {%endif%}
    </tbody>
  </table>
</div>